@font-face {
    font-family: "Inter";
    src: url("./Fonts/Inter/Inter-VariableFont_opsz\,wght.ttf") format("truetype");
    font-weight: 100 900;
    font-style: normal;
}

@font-face {
    font-family: "Fustat";
    src: url("./Fonts/Fustat/Fustat-VariableFont_wght.ttf") format("truetype");
    font-weight: 100 900;
    font-style: normal;
}

body {
    background-color: #f0f0f5;
}

.mx-6 {
    margin-left: 5rem;
    margin-right: 5rem;
}

.navbar {
    background-color: #0d0d0d;
    height: 65px;
    width: 100%;
    position: fixed;
    z-index: 1000;
}

.navbar-brand,
.navbar-brand:visited,
.navbar-brand:hover,
.navbar-brand:active,
.navbar-brand:focus {
    color: white;
    font-family: Fustat;
    font-weight: 350;
    font-size: xx-large;
}

.nav-link {
    color: white;
    font-family: Inter;
    font-weight: 300;
}

.navbar-nav .nav-link:visited,
.navbar-nav .nav-link:active,
.navbar-nav .nav-link:focus {
    font-family: Inter;
    color: white;
}

.navbar-nav .nav-link:hover {
    color: rgb(102, 177, 242);
}

.nav-link {
    color: white;
}

.nav-link:hover {
    color: rgb(102, 177, 242);
}

.nav-link.active {
    color: white;
    font-weight: 450;
}

.nav-link.active:hover {
    color: white;
}

.sidebar {
    font-family: Inter;
    color: #d9d9d9;
    background-color: #262626;
    height: 100vh;
    top: 65;
    left: 0;
    padding: 1rem;
    overflow: hidden;
    z-index: 500;
    overflow: hidden;
    min-width: 0;
    display: flex;
    flex-direction: column;
    padding-top: 2rem;
}

.siderbar-top {
    display: flex;
    flex-direction: column;
    flex: 0 0 15%;
    justify-content: space-evenly;
}

.siderbar-bottom {
    margin-top: auto;
}

.sidebar-item {
    margin: clamp(0.5rem, 1vh, 2rem) 0;
}

.schedule {
    height: 100vh;
    padding: 1rem;
    padding-top: 65px;
    overflow-y: auto;
    overflow: hidden;
    min-width: 0;
    outline: 10px solid blue;
}

.divider {
    border-bottom: .5px solid #676767;
    width: 75%;
    margin: .3rem auto;
}

.shul {
    height: 100vh;
    padding: 1rem;
    padding-top: 65px;
    overflow: hidden;
    overflow: hidden;
    min-width: 0;
    outline: 10px solid green;
}

[class*="col"] {
  min-width: 0;
  overflow: hidden;
}

* {
    box-sizing: border-box;
}

.sidebar-link {
    color: #d9d9d9;
    fill: #d9d9d9;
    font-family: Inter;
    font-size: medium;
    font-weight: 300;
    text-decoration: none;
    gap: 1.75rem;
    width: 100%;
    height: 108%;
    padding: 0.75rem .75rem;
    border-radius: 8px;
}

.sidebar-link svg {
    width: 20px;
    height: 20px;
}

.icon-link:hover {
    color: #262626;
    fill: rgb(75, 158, 231);
}

.sidebar-link:hover {
    background: rgb(199, 204, 209);
}