@font-face {
    font-family: "Inter";
    src: url("./Fonts/Inter-VariableFont_opsz\,wght.ttf") format("truetype");
    font-weight: 100 900;
    font-style: normal;
}

.mx-6 {
    margin-left: 5rem;
    margin-right: 5rem;
}

.navbar {
    background-color: #0d0d0d;
    height: 56px;
}

.navbar-brand {
    color: white;
    font-family: Inter;
    font-weight: 600;
}

.navbar-brand:hover {
    color: white;
    font-family: Inter;
}

.nav-link {
    color: white;
    font-family: Inter;
    font-weight: 300
}

.navbar-nav .nav-link:hover {
    font-family: Inter;
    color: #c2d1f0;
}

.navbar-nav .nav-link.active {
    color: white;  
    font-family: Inter;
    font-weight: 450;
}

.navbar-nav .nav-link.active:hover {
    font-family: Inter;
    color: white;
}

.sidebar {
    color: #d9d9d9;
    background-color: #262626;
    height: 100vh;
    position: fixed;
    top: 56px;
    left: 0;
    padding: 1rem;
    overflow: hidden;
}

.schedule {
    margin-left: 250px;
    height: 100vh;
    padding: 1rem;
    overflow-y: auto;
}

.shul {
    top: 56px;
    right: 0;
    height: 100vh;
    position: fixed;
    padding: 1rem;
    overflow: hidden;
}