@font-face {
    font-family: "Inter";
    src: url("./Fonts/Inter-VariableFont_opsz\,wght.ttf") format("truetype");
    font-weight: 100 900;
    font-style: normal;
}

body {
    background-color: #f0f0f5;
}

.mx-6 {
    margin-left: 5rem;
    margin-right: 5rem;
}

.navbar {
    background-color: #0d0d0d;
    height: 56px;
    width: 100%;
    position: fixed;
    z-index: 10;
}

.navbar-brand {
    color: white;
    font-family: Inter;
    font-weight: 600;
}

.navbar-brand:hover {
    color: white;
    font-family: Inter;
}

.nav-link {
    color: white;
    font-family: Inter;
    font-weight: 300;
}

.navbar-nav .nav-link:hover {
    font-family: Inter;
    color: #f0f0f5;
}

.navbar-nav .nav-link.active {
    color: white;  
    font-family: Inter;
    font-weight: 450;
}

.navbar-nav .nav-link.active:hover {
    font-family: Inter;
    color: white;
}

.sidebar {
    font-family: Inter;
    color: #d9d9d9;
    background-color: #262626;
    height: 100vh;
    top: 56;
    left: 0;
    padding: 1rem;
    overflow: hidden;
    z-index: 1;
    overflow: hidden;
    min-width: 0;
    outline: 10px solid red;
}

.schedule {
    height: 100vh;
    padding: 1rem;
    padding-top: 56px;
    overflow-y: auto;
    overflow: hidden;
    min-width: 0;
    outline: 10px solid blue;
}

.shul {
    height: 100vh;
    padding: 1rem;
    padding-top: 56px;
    overflow: hidden;
    overflow: hidden;
    min-width: 0;
    outline: 10px solid green;
}

[class*="col"] {
  min-width: 0;
  overflow: hidden;
}

* {
    box-sizing: border-box;
}

.icon-link {
    color: #d9d9d9;
    font-family: Inter;
    font-size: large;
    font-weight: light;
    text-decoration: none;
}